.hamburgerButton{
  cursor: pointer;
  height: 2em;
  width: 2em;
  z-index: 1200;
  position: absolute;
  right: 15rem;
  top: 1rem;
}

.hamburgerButton button{
  background: none;
  border: none;
  color: inherit;
  cursor:pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  outline: inherit;
  padding: 0;
}

.hamburgerButton button:before, .hamburgerButton button:after,
.hamburgerButton span{
  background-color: hsl(0, 0%, 0%);
  border-radius: 15px;
  content: "";
  display: block;
  height: 0.2em;
  opacity: 1;
  position: absolute;
  transition: ease-in-out all 0.15s;
  width: 100%;
  
}

.hamburgerButton span{
  background-color: hsl(0, 0%, 0%);
  border-radius: 15px;
  content: "";
  display: block;
  height: 0.15em;
  opacity: 1;
  position: absolute;
  transition: ease-in-out all 0.15s;
  width: 100%;
  
}

span{
  top: 50%;
  transform: translateY(-50%);
}

.hamburgerButton button:before{
  top: 0.5em;
}

.hamburgerButton button:after{
  bottom: 0.5em;
}

.hamburgerButton.active button:before, .hamburgerButton.active button:after{
  display: none;
}

.hamburgerButton.active span:before{
  background-color: hsla(0, 0%, 0);
  transform: rotate(45deg);
}

.hamburgerButton.active span:after{
  background-color: hsla(0, 0, 0);
  transform: rotate(-45deg)
}